extends layout

block content
    // Begin page content
    .container
        #performance_chart.chart
        ul.nav.nav-tabs
            li.active
                a(href='') Positions
            li
                a(href='') Trades

        table.table.table-striped
            thead
                tr
                    th #id
                    th Symbol
                    th Quantity
                    th P/L
            tbody
                tr
                    td 0
                    td EURUSD:CUR
                    td 2
                    td 1000
                tr
                    td 0
                    td EURUSD:CUR
                    td 4
                    td 3200
